<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Your Expenses</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrp.min.css" th:href="@{/css/bootstrp.min.css}" />
</head>

<body>
    <div>
        <h1>Hello, <span th:text="${username}"></span>!</h1>

        <p style="color: red;">Please write down the RECOVERY CODE somewhere you remember
            <span class="hover-spoiler" th:text="${recoveryCode}"></span>
        </p>

        <a href="/addExpense" class="btn btn-success">Add Expense</a>

        <a th:href="@{/export(type=${param.type}, year=${param.year}, month=${param.month})}" class="btn btn-info">
            Export to CSV
        </a>
    </div>

    <div style="display: flex; justify-content: flex-end;">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-sm btn-secondary" />
        </form>
    </div>

    <form action="#" th:action="@{/expenses/filter}" method="get">
        <div class="form-group mt-3">
            <label for="type">Type:</label>
            <select id="type" name="type">
                <option th:each="typeExpense: ${typeExpenses}" th:value="${typeExpense.type}"
                    th:text="${typeExpense.type}">
                </option>
            </select>

            <label for="year">Year:</label>
            <input type="number" id="year" name="year">

            <label for="month">Month:</label>
            <input type="number" id="month" name="month">

            <button class="btn btn-info" type="submit">Filter</button>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Description</th>
                <th>Amount (€)</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="e : ${expenses}">
                <td th:text="${e.date}"></td>
                <td th:text="${e.typeExpense.type}"></td>
                <td th:text="${e.description}"></td>
                <td th:text="${e.amount}"></td>
                <td>
                    <a th:href="@{/delete/{id}(id=${e.id})}" class="btn btn-danger" role="button">Delete</a>
                </td>
                <td>
                    <a th:href="@{/edit/{id}(id=${e.id})}" class="btn btn-primary" role="button">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>