<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Your Expenses</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
    <div>
        <p>Hello, <span th:text="${username}"></span>!</p>
    </div>
    <div class="col-md-4" style="padding:20px 0">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-sm btn-secondary" />
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="e : ${expenses}">
                <td th:text="${e.date}"></td>
                <td th:text="${e.typeExpense.type}"></td>
                <td th:text="${e.description}"></td>
                <td th:text="${e.amount}"></td>
                <td>
                    <a th:href="@{/delete/{id}(id=${e.id})}" class="btn btn-danger" role="button">Delete</a>
                </td>
                <td>
                    <a th:href="@{/edit/{id}(id=${e.id})}" class="btn btn-primary" role="button">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <a href="/addExpense">Add Expense</a>
    </div>
</body>

</html>