<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- The password reset page for the user -->

<head>
    <title>Reset Password</title>
    <link type="text/css" rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<body>
    <div class="col-md-4 col-md-offset-4">
        <h2>Reset Password</h2>
        <form th:action="@{/resetPassword}" method="post">
            <!-- Input field for the username with required validation -->
            <div><label> Username: <input type="text" name="username" class="form-control" required /> </label></div>

            <!-- Input field for the unique recovery code with required validation -->
            <div><label> Recovery Code: <input type="text" name="recoveryCode" class="form-control" required /> </label>
            </div>

            <!-- Input field for the new password with required validation -->
            <div><label> New Password: <input type="password" name="newPassword" class="form-control" required />
                </label>
            </div>
            <div><input type="submit" value="Reset" class="btn btn-primary" /></div>
        </form>
    </div>

    <!-- Display the message for the outcome of the reset operation -->
    <h3 th:text="${message}"></h3>

    <!-- Link to the login page -->
    <div>
        <a href="/login" class="btn btn-secondary">Return to Log In</a>
    </div>
</body>

</html>